html
	head
		title Clash Of Clan - EfreiChinois
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
		link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'  rel='stylesheet' type='text/css')

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
	body
		header.table
			nav#main
				ul
					li
						a(href='/clashOfClans/') HOME
					li
						a(href='/clashOfClans/news') NEWS
					li
						a(href='/clashOfClans/history') WAR of CLAN
					li
						a(href='/clashOfClans/members') CLAN HEROES

		article.table
			div.table-cell
				h1 Clash Of Clans - EfreiChinois
				p  accepts any kind of anything

		div.mask
			a(href='https://github.com/jichangfeng67/coc')
				img(src='/images/github.png')