html
	head
		title NEWS - Clash Of Clan - EfreiChinois
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
		link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'  rel='stylesheet' type='text/css')

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
	body
		header.table
			nav#main
				ul
					li
						a(href='/clashOfClans/') HOME
					li
						a(href='/clashOfClans/news') NEWS
					li
						a(href='/clashOfClans/history') WAR of CLAN
					li
						a(href='/clashOfClans/members') CLAN HEROES

		article.table#news
			div#newsMain
				h1 NEWS - Clash Of Clans - EfreiChinois
				
				ol
					li
						a(href='#winnings') a series of winnings from JIN
					li
						a(href='#teamEstablished') Team, Team, Team!
					


			div#teamEstablished
				h3 Team, Team, Team!
				p The clash of clan should remeber this day!
					span.font-red  30/09/2015

			div#winning
				h3 WINNINGS
				p A series of ten winning of battles from JIN


