extends layout

block content
	h1=title
	p Welcome to #{title}

	ol
		li
			a(href='/clashOfClans') Clash of Clans

	div(ng-app='homepage' ng-controller='hpctrl')
		textarea(ng-model='newnews' type='text' name='newspost')
		br
		input(type='submit' id='newspost' ng-click='sendServer(newnews)')
		p YOUR NEWS:
		p(ng-bind='newnews')