extends layout

block content
		header.table
			nav#main
				ul
					li
						a(href='/clashOfClans/') HOME
					li
						a(href='/clashOfClans/news') NEWS
					li
						a(href='/clashOfClans/history') WAR of CLAN
					li
						a(href='/clashOfClans/members') CLAN HEROES

		article
			h1=title
			ul
				each val in newspost.length ? newspost:['no post']
					li #{val.post}
						br
						span #{val.time_added}