body{
	font-family: 'Lato', sans-serif;
}
.table{
	display: table;
}
.table-cell{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

nav#main{

}

nav#main li{
	display: inline-block;
	padding:0 15px;
	color: black;
	border: 2px black dotted;
	border-radius: 10px;
}
nav#main li>a{
	color: black;
}

header{
	padding-top: 50px;
	background: url('/images/clash-of-clans.jpg') ;
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 100%  auto;
}

article{
	margin: 0 auto;
}

article#news{
	text-align: left;
	width: 80%;
}
#newsMain{
	min-height: 100px;
}

.font-red{
	color: red;
}
.people{
	min-height: 20vh;
}

.mask{
	position: fixed;
	bottom: 0;
	right: 0;
	-ms-transform: rotate(-45deg); /* IE 9 */
    	-webkit-transform: rotate(-45deg); /* Safari */
    	transform: rotate(-45deg);
    	background-color: black;
}
.mask img{
	width: 100%;
	height: auto;
}
div.header{
	background-color: lightblue;
}
div.body{
	margin-top: 20px;
}
textarea[name='newspost']{
	width: 100%;
}